/* LAYOUT */

@media (min-width: 992px) {
  .content .glavni {
    display: flex;
    justify-content: space-between;
  }
}

.content {
  margin-top: 50px;
}

.content .glavni .uvod {
  display: flex;
  align-items: center;
}

.content .prodaja button {
  display: block;
  margin: 0 auto;
}

.prodaja .cena .glavna {
  display: flex;
  align-items: center;
}

.content .prodaja-container {
  display: flex;
  justify-content: center;
}

/* STYLES */

body {
  background: repeating-linear-gradient(-45deg,
    transparent,
    transparent 400px,
    hsl(0, 0%, 50%, 20%) 400px,
    hsl(0, 0%, 50%, 20%) 800px
  );
}

header {
  background-color: gray;
  color: white;
  text-align: center;
}

.content .glavni {
  background-color: hsl(240, 0%, 11%);
  color: white;
}

.content .glavni .uvod img {
  background-color: hsl(240, 0%, 95%);
  border-radius: 15px;
  height: 8em;
  margin: 0.5em;
  padding: 0.5em;
}

.content .glavni .uvod .tekst p {
  padding-bottom: 0.5em;
}

.content .glavni .uvod .tekst {
  padding: 1em;
}

.content .glavni .uvod .tekst button {
  font-weight: bold;
  padding: 0.5em;
}

.prodaja-container {
  background-image: repeating-linear-gradient(-45deg,
    hsl(0, 10%, 5%),
    hsl(0, 10%, 5%) 5px,
    hsl(0, 40%, 30%) 5px,
    hsl(0, 40%, 30%) 10px
  );
}

.prodaja {
  color: white;
  padding: 1em;
}

.prodaja .cena {
  padding-bottom: 0.5em;
}

.prodaja .cena .stara {
  font-style: italic;
  text-decoration: line-through;
}

.prodaja .cena .glavna .trenutna {
  font-size: 1.2em;
  font-weight: bold;
  padding-right: 0.5em;
}

.prodaja .cena .glavna .popust {
  background-color: yellow;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  margin: 0.1em;
  padding: 0.1em;
}

.prodaja a {
  text-decoration: inherit;
}

.prodaja button {
  border-radius: 5px;
  font-size: 1.25em;
  font-weight: bold;
  outline: none;
  padding: 0.5em;
  width: 100%;
}

.content section {
  background-color: hsl(60, 80%, 95%);
  color: black;
  box-shadow: 2.5px 5px 5px;
  border: 1px solid gray;
  margin: 1em 0;
  padding: 1em;
}

.content section h2 {
  padding-bottom: 0.5em;
}

.content section ul {
  list-style-position: inside;
}

#accordion h3 {
  background-color: hsl(0, 75%, 60%);
  border: 1px solid hsl(0, 75%, 40%);
  color: hsl(0, 0%, 95%);
  outline: none;
  padding-left: 0.25em;
  user-select: none;
}

#accordion h3:hover {
  background-color: hsl(0, 75%, 40%);
}

#accordion h3:active {
  background-color: hsl(0, 75%, 40%);
}

#accordion div {
  background-color: hsl(0, 75%, 95%);
  padding-left: 0.25em;
}
